html {
    height:100%;
  }
  
  h1 {
    animation: effect3d infinite  both;
  }
 
@media (min-width: 640px) {
    h1 {
      font-size: 3rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #9c73c4;
      line-height: 1.1;
      font-family: system-ui;
    }
    span {
      display: none;
    }
  }
  @media (max-width: 640px) {
     h1 {
       
       font-family: 'Raleway',sans-serif;
       font-weight: 700;
       text-transform: uppercase;
       color: #9c73c4;
       font-size: 10vmin;
     }
     span {
       display: block;
       display: inline-block;
     } 
   }
  
  @keyframes effect3d {
    to {
      text-shadow: 0 1px 0 rgb(26, 25, 25), 0 2px 0 #621fbbc4, 0 3px 0 rgb(53, 37, 197), 0 4px 0 #2107b4,
        0 5px 0 rgb(20, 13, 13), 0 6px 1px rgba(25, 4, 51, 0.829), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    }
  }
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgba(16, 8, 122, 0.938) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  h1 {
    text-align: center;
    color: white;
  }

  .box{
    font-style: oblique;
    font-weight: 500;
    font-size: large;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.7;
  }
  
  .nav-link:hover {
    background-color: #6ba56b;
  }

  .navbar-brand {
    font-weight: 700;
}

  .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: black;
}
      
      .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
      
span {
  display: none;
}
 
@media (min-width: 640px) {
    h1 {
      font-size: 3rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #9c73c4;
      line-height: 1.1;
      font-family: system-ui;
    }
    span {
      display: none;
    }
  }
 

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #9c73c4;
  }
  span { 
    display: block ;
    display: inline-block;
  }
}


p:first-letter{
  text-transform: uppercase;
}



@keyframes gm-slidein {
  from {
      -webkit-transform:translate3d(0,-100%,0);
      opacity:0;
      transform:translate3d(0,-100%,0);
  }

  to {
      -webkit-transform:none;
      opacity:1;
      transform:none;
  }
}

.heropanel__content {
  -moz-animation:gm-slidein 3s 1;
  -ms-animation:gm-slidein 3s 1;
  -o-animation:gm-slidein 3s 1;
  -webkit-animation:gm-slidein 3s 1;
  animation:gm-slidein 3s 1;
}

.heropanel__content h1 {
  margin:0 0 .5em;
  text-transform:uppercase;
}
.container {
  position: relative;
  font-family: Arial;
}


#footer {
  background-color: black;
  color: white;
  padding-top: 50px;
}

bold {
  font-weight: 800;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000080;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #000080;
  color: white;
}

.container{
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 30%;
  left : 70%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*, *:before, *:after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}


@media (min-width: 1200px) {
    .aboutimg {
        width: 100%;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 600px;
        padding-right: 20px;
      }
      #imgpara  {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        letter-spacing:0.1em;
        text-align:center;
        margin: 40px auto;
        text-transform: lowercase;
        line-height: 145%;
        font-size: 14pt;
        font-variant: small-caps;
        }
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color:#000000; 
          font-family: georgia;
           font-size: 200%;
          text-shadow: 0 0 3px #FFF0F5;
        }
}

@media (max-width :1199px) and (min-width : 771px){
    .aboutimg {
        width: 100%;
        height: 45vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 550px;
        padding-right: 4px;
      }
      #imgpara  {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        letter-spacing: 0.5px;
        margin: 50px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 11pt;
        font-variant: small-caps;
        }
}

@media (max-width :771px) and (min-width : 537px){
    .aboutimg {
        width: 100%;
        height: 45vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 270px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 80px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 10pt;
        font-variant: small-caps;
        }
}

@media (max-width :537px) and (min-width : 497px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 270px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        letter-spacing: 0.1px;
        margin: 30px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 8.5pt;
        font-variant: small-caps;
        }
}

@media (max-width :497px) and (min-width : 433px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 250px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 20px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 8.1pt;
        font-variant: small-caps;
        }
}

@media (max-width :433px) and (min-width : 400px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 210px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 25px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 8.3pt;
        font-variant: small-caps;
        }
}

@media (max-width :400px) and (min-width : 380px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 230px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 20px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 7.5pt;
        font-variant: small-caps;
        }
}


@media (max-width :380px) and (min-width : 361px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 230px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 15px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 6.5pt;
        font-variant: small-caps;
        }
}


@media (max-width :361px) and (min-width : 349px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 230px;
        padding-right: 4px;
      }
      p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 20px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 6pt;
        font-variant: small-caps;
        }
}


@media (max-width :349px) and (min-width : 300px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 230px;
        padding-right: 4px;
      }
      #imgpara {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 20px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 4.5pt;
        font-variant: small-caps;
        }
}


@media (max-width :319px) and (min-width : 300px){
    .aboutimg {
        width: 100%;
        height: 35vh;
    }
    .text-block {
        position: absolute;
        bottom: 0px;
       
          right: 20px;
        
        color: white;
        padding-left: 160px;
        padding-right: 4px;
      }
      #imgpara {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        text-align:center;
        margin: 20px auto;
        text-transform: lowercase;
        line-height: 100%;
        font-size: 7pt;
        font-variant: small-caps;
        }
}

/*--------------------------------------------------------------------------------------------------------*/
/* foooterrr styling*/
.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 6px;
  transition: all 0.5s ease;
}


/*Linkedin*/
.wrapper ul li:hover.linkedin {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* ggithub */
.wrapper ul li:hover.github {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}



/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

/* End of footer styling*/

.header{
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  height: 100vh;
  width: 100%;
}

@media  (min-width:550px) {
  #cph{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 3em;
    font-weight: 600;
    font-family: "lobster", cursive;
    text-decoration: whitesmoke;
    text-shadow: whitesmoke;
    z-index: 100;
  }
}
@media  (max-width:550px)  and (min-width:380px) {
  #cph{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-family: "lobster", cursive;
    text-decoration: whitesmoke;
    text-shadow: whitesmoke;
    z-index: 100;
  }
}

@media (max-width:380px) {
  #cph{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    font-family: "lobster", cursive;
    text-decoration: whitesmoke;
    text-shadow: whitesmoke;
    z-index: 100;
  }
}

.accordion{
  margin: 40px 0;
}
.accordion .item {
    border: none;
    margin-bottom: 50px;
    background: none;
}
.t-p{
  color: black;
  padding: 40px 30px 0px 30px;
}
.accordion .item .item-header h2 button.btn.btn-link {
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;
}
.accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #eca300;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}

button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
}

#faq {
  font-size: 4em;
  font-weight: 400;
  color: white;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

#collapseOne , #collapseTwo , #collapseThree , #collapseFour {
  padding-bottom: 50px;
  animation-name: show;
  background:rgba(231, 214, 214, 0.4);
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes show {
  from {
    opacity: 0;
    background-color: black;
  }
  to {
    opacity: 1;
    background:rgba(231, 214, 214, 0.4);
  }
}


.cpheading{
  font-size: 2em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins", sans-serif;
  animation-name: blink;
  animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-delay: 2s;
 animation-timing-function: ease-in-out;
}

@keyframes blink {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;
  transform: rotateY(180deg);
}

.one {
  margin-left: 30px;
}

.py{
  font-size: 1.25em;
  color: black;
  font-family: 'Gentium Basic', serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.headingcpr , .headingpy , .javaheading{
  font-size: 2em;
  color: rgb(15, 15, 15);
  font-weight: 500;
  font-family: 'Shadows Into Light', cursive;
}

.cpara{
  font-size: 1.25em;
  color: black;
  font-family: 'Gentium Basic', serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.javapara{
  font-size: 1.4em;
  color: black;
  font-family: 'Gentium Basic', serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.r {
  font-size: 1.35em;
  color: black;
  font-family: 'Gentium Basic', serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
.rpara{
  font-size: 1.35em;
  color: black;
  font-family: 'Gentium Basic', serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}


.csharppara{
  font-size: 1.20em;
  color: black;
  font-family: 'Gentium Basic', serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

#grid{
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 1100px) {
  #grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) and (min-width: 750px){
  #grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  #grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.cpheading {
  font-family: 'Proza Libre', sans-serif;
  padding-left: 20vw;
  padding-right: 20vw;
}


h1{
  animation: none;
}
body,p
{
  font-family: 'Montserrat',sans-serif;
}


































